@use '../abstracts';

.keypad-simple {

    ul, li, button {
        text-decoration: none;
        list-style: none;
    }

    .grid-container {
        width: 300px;
        border: 1px solid gray;

        .grid {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr;
            // grid-template-rows: 1fr 1fr 1fr;

            .grid-item {
                width: 25px;
                height: 25px;
                border: 2px solid maroon;
                border-radius: 4px;
            }
        }
    }
}


.runescape-keypad-bankcode {



    .outer-grid-container {

        .keypad-btn {

        }

        .code-output {

        }

        .outer-grid {
            width: 400px;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .key-btn {
                background-color: #9b2e2e;

                .inner-grid {
                    width: 75px;
                    height: 75px;

                    td {
                        font-size: 1rem;
                        font-weight: bold;
                        
                    }
                    .visible {
                        color: white;
                    }

                    .hidden {
                        color: #9b2e2e;
                    }
                }
            }

            .grid-item:last-child {
                grid-column-start: 2;
            }

            
        }

        

    }
}