@use '../abstracts';

.radial-menu {

    .radial-container {
        width: 500px;
        height: 350px;
        outline: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        .radial-center-btn {
            width: 80px;
            height: 40px;
            border: 2px solid #444;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #23a01f;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            z-index: 2;
        }

        .radial-select-btn {
            width: 75px;
            height: 30px;
            border: 2px solid #444;
            border-radius: 1rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            z-index: 1;
        }

        .radial-center-btn:hover {
            border: 3px solid black;
        }

        .radial-center-btn:hover #one {
            transform: translateX(100px);
        }

        #one {
            background-color: #ac1212;
            transition: transform 1s;
        }

        #two {

        }

        #three {

        }

        #four {

        }

        #five {

        }

        #six {

        }
    }

    // .output-box {
    //     width: 300px;
    //     height: 200px;
    //     background-color: #c9c9c9;
    //     outline: 1px solid black;
    //     position: relative;
    //     margin-left: 50px;
    // }
}
